.grid {
	height: 400px;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	background: grey;
}
.grid div {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	color: white;
	user-select: none;
}

.bomb {
	background: orange;
}