<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Super Duper Minesweeper!</title>

	<link rel="stylesheet" href="./css/reboot.css">
	<link rel="stylesheet" href="./css/form.css">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>

	<div id="loading_wrap" class="loading_wrap">
		<div class="loading">
			<img src="./img/loading.gif" alt="loading..." class="loading_img">
			<p class="loading_text">Loading...</p>
		</div>
	</div>
	
	<template id="notice_tmp">
		<div class="notice">
			<p class="notice_msg"></p>
			<button class="notice_close">
				<div class="notice_close_img"></div>
			</button>
		</div>
	</template>

	<div class="screen" id="screen">
		<div class="notice_wrap" id="notice_wrap"></div>
		<div class="lobby active" id="lobby">
			<h1 class="title text-grow" id="main-title">Super Duper Minesweeper!<span class="version text-grow" id="version"><%= version %></span></h1>

			<form id="user_form" class="user_form active">
				<p>ユーザー名を設定してください</p>
				<div class="input_group">
					<input type="text" id="f_user_name" required>
				</div>
				
				<button type="submit" class="main-btn text-grow box-grow">Login</button>
			</form>

			<div class="main_options" id="main_options">
				<button class="main-btn text-grow box-grow" id="solo_btn">ソロプレイ</button>
				<button class="main-btn text-grow box-grow" id="multi_btn">マルチプレイ</button>
			</div>

			<form id="g_config" class="g_config">
				<div class="g_config_head">
					<button type="button" class="g_config_back" id="g_config_back">もどる</button>
					<h2 id="g_config_title" class="g_config_title text-grow"></h2>
				</div>

				<div class="g_config_inputs">
					<div class="input_group">
						<span class="input_text">幅</span>
						<input type="number" id="f_width" value="8" max="50" min="6" required>
					</div>
					<div class="input_group">
						<span class="input_text">高さ</span>
						<input type="number" id="f_height" value="10" max="50" min="6" required>
					</div>
					<div class="input_group">
						<span class="input_text">爆弾</span>
						<input type="number" id="f_bomb" value="20" required>
					</div>
				</div>
				<div class="g_config_templates">
					<button type="button" id="temp_low">低</button>
					<button type="button" id="temp_medium">中</button>
					<button type="button" id="temp_high">高</button>
					<button type="button" id="temp_duper">Duper</button>
				</div>
				<div class="input_group">
					<button type="submit" class="main-btn text-grow box-grow" id="g_config_submit"></button>
				</div>
			</form>
		</div>

		<template id="room_card_tmp">
			<div class="room_card">
				<div class="room_card_owner room_card_elm"></div>
				<div class="room_card_width room_card_elm">幅 </div>
				<div class="room_card_height room_card_elm">高さ </div>
				<div class="room_card_bomb room_card_elm">爆弾 </div>
				<div class="room_card_status room_card_elm"></div>
				<div class="room_card_btns">
					<button class="room_card_join room_card_btn">入室</button>
					<button class="room_card_observe room_card_btn" disabled>観戦</button>
				</div>
			</div>
		</template>
		<div class="rooms" id="rooms_wrap">
			<div class="rooms_head">
				<button class="rooms_head_back" id="room_back">もどる</button>
				<h2 class="rooms_head_title">ルーム</h2>
				<button class="rooms_head_create" id="create_room">ルーム作成</button>
			</div>
			<div class="rooms_overflowwrap">
				<div class="rooms_body" id="rooms">
				</div>
			</div>
		</div>

		<div class="waiting_screen" id="waiting_screen">
			<button class="waiting_back" id="waiting_back">もどる</button>
			<h2 class="waiting_screen_title text-grow">プレイヤーが参加するのを待っています...</h2>
			<div class="waiting_screen_body">
				<p>ルーム名: <span id="waiting_roomname"></span></p>
			</div>
		</div>

		<div class="matched_screen" id="matched_screen">
			<h2 class="matched_screen_title text-grow">マッチが完了しました。</h2>
			<div class="matched_screen_body">
				<p>相手: <span id="matched_screen_opponent"></span></p>
				<p><span id="game_start_in"></span>秒後に開始します</p>
				<p>※はじめのマスは自動でクリックされます</p>
			</div>
		</div>

		<!-- start g_wrap -->
		<div class="g_wrap" id="g_wrap">
			<div class="g_field" id="g_field">
				
				<div class="b_wrap" id="b_wrap">
					<div class="b_head">
						<div class="b_head_flags_outer b_head_item">
							<img src="./img/flag.png" alt="" class="b_head_flag_img" width="30px">
							<p id="h_flags" class="d-inline-block"></p>
						</div>

						<div class="time b_head_time_outer b_head_item">
							<div id="h_time" class="b_head_time">00:00</div>
						</div>

						<div class="b_head_sound_btns b_head_item">
							<button id="allow_sound" class="sound_btn active"></button>
							<button id="forbit_sound" class="sound_btn"></button>
						</div>
						<div class="b_head_menu_btn_outer" id="open_menu_outer">
							<button id="open_menu_btn" class="b_head_menu_btn"></button>
						</div>
					</div>
					
					<div class="board" id="board"></div>
					
					<div class="sel_mask" id="sel_mask"></div>
					<div class="sel" id="sel">
						<button id="sel_cancel" class=""></button>
						<button id="sel_unflag" class=""></button>
						<button id="sel_flag" class=""></button>
						<button id="sel_dig" class=""></button>
					</div>
				</div>

			</div>

			<div class="menu" id="menu">
				<button id="close_menu_btn" class="close_menu_btn ">とじる</button>
				<button class=" quit_btn" id="exit_btn"><span>Exit Game</span></button>
				<div>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
					<p>わわわわわわわわわわわ</p>
				</div>
			</div>

		</div>
		<!-- end g_wrap -->

		<div class="result_modal modal_wrap" id="clear_modal">
			<div class="clear_modal modal">
				<div class="result">
					<img src="./img/congrats.svg" class="victory_img" id="victory_img">
					<div class="result_time" id="clear_result_time">00:00</div>
				</div>
				<div class="controls">
					<button id="close_clear_modal" class="close_result_modal"><span>CLOSE</span></button>
					<button class="restart_btn"><span>RESTART</span></button>
				</div>
			</div>
		</div>

		<div class="result_modal modal_wrap" id="fail_modal">
			<div class="fail_modal modal">
				<div class="result">
					<img src="./img/fail.svg" class="fail_img" id="fail_img">
					<div class="result_time" id="fail_result_time">00:00</div>
				</div>
				<div class="controls">
					<button id="close_fail_modal" class="close_result_modal"><span>CLOSE</span></button>
					<button class="restart_btn"><span>RESTART</span></button>
				</div>
			</div>
		</div>

	
		<div class="user_number">
			<span id="user_number"></span>人がログインしています
		</div>
		<span class="bottom_username" id="bottom_username"></span>
	</div>

	<script>
		document.getElementById("screen").style.height = window.innerHeight + 'px';
	</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="./js/app.js" type="module"></script>
</body>
</html>