.text-grow {
	text-shadow: 
		0 0 0.05em #FFF59D,
		0 0 0.06em #FFF59D,
		0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D,
		0 0 0.09em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.50em #FFF59D;
}
.box-grow {
	box-shadow:
		0 0 0.05em #FFF59D,
		0 0 0.06em #FFF59D,
		0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D,
		0 0 0.09em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.50em #FFF59D;
}
.main-btn {
	width: 300px;
	font-size: 2.6rem;
	background: rgba(255,255,255, 0.3);
	font-weight: bold;
	margin: 0 auto;
}
.main-btn:hover {
	opacity: 0.6;
	transition: all 0.8s;
}

.loading_wrap {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1);
	transition: all 0.6s;
}
.loading_wrap.slideout {
	top: -100%;
}
.loading {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.loading_img {
	display: inline-block;
	width: 50px;
}
.loading_text {
	width: 100%;
	text-align: center;
	animation: blinking 1s infinite ease-in-out;
}
@keyframes blinking {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

.screen {
	position: relative;
	width: 100%;
	/* height decided by js */
	background: #eee;
	background-image: url("../img/top_back.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.notice_wrap {
	background: transparent;
	position: fixed;
	top: 0; right: 0;
	padding: 10px;
	z-index: 90;
	width: 100%;
	max-width: 300px;
}
.notice {
	display: flex;
	min-width: 50px;
	background: rgba(255,255,255,0.96);
	border-radius: 10px;
	overflow: hidden;
	animation: hide 1s ease-in 5s 1 normal both;
	/* jsで6秒後に削除 */
}
@keyframes hide {
	0% {opacity: 1;}
	100% {
		display: none;
		opacity: 0;
	} 
}
.notice:not(:last-child) {
	margin-bottom: 10px;
}
.notice_msg {
	padding: 5px 8px;
	align-self: center;
	width: 70%;
	word-wrap: break-word;
	margin: 0;
	display: inline;
}
.notice_close {
	background: transparent;
	width: 30%;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.notice_close:hover {
	opacity: 0.6;
	background: rgba(200,200,200,0.9);
}
.notice_close_img {
	width: 40px;
	height: 40px;
	background-image: url('../img/del_black.svg');
	background-repeat: no-repeat;
	opacity: 0.8;
}


.lobby {
	opacity: 0;
	transition: all 0.8s;
}
.lobby.active {
	opacity: 1;
}

.title, .version {
	font-size: 3.4rem;
	padding-top: 60px;
	padding-bottom: 10px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #000;
	position: relative;
}
.version {
	font-size: 1.4rem;
	position: absolute;
	top: -30px; left: 0;
	transform: rotate(-30deg);
	animation: puyo 1s ease-in-out infinite;
}
@keyframes puyo {
	0% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(-30deg) skew(-5deg, -5deg) scale(1.5);
	}
	100% {
		transform: rotate(-30deg);
	}
}

/* forms (username, mainoptions, gameconfig/roomconfig) */
.g_config, .user_form, .main_options {
	display: none;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.user_form.active, .g_config.active, .main_options.active {
	display: block;
}

.user_form {
	background: rgba(255,255,255,0.6);
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
}
.user_form p {
	padding: 1rem 2rem;
	font-size: 1.4rem;
	margin-bottom: 6px;
	border-top: 3px dotted #000;
	border-bottom: 3px dotted #000;
}
.user_form > .input_group {
	padding: 20px 0;
}
.user_form input {
	border: 2px solid #333;
}

.main_options > button {
	margin-bottom: 20px;
}

.g_config_inputs, .g_config_templates, .g_config_head {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	overflow: hidden;
	justify-content: center;
	border-radius: 10px;
}
.g_config_head {
	border-radius: unset;
	position: relative;
}
.g_config_head h2 {
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 0;
}
.g_config_back {
	position: absolute;
	top: 0; left: 0;
	height: 28px;
}
.g_config_templates {
	width: fit-content;
}
.input_group {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.input_group > .input_text {
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	height: 100%;
	line-height: 46px;
	white-space: nowrap;
	background: #ddd;
	box-sizing: border-box;
}
.g_config_inputs input {
	display: inline-block;
	width: 100%;
	min-width: 50px;
}

input.warn {
	border: red 3px solid;
	animation: shiv 0.2s infinite;
}
@keyframes shiv {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.g_config_templates > button {
	margin: 0;
	font-size: 1.4rem;
	padding: 6px 12px;
	border-radius: 0;
}

/* rooms */
.rooms {
	display: none;
	background: white;
	border-radius: 20px;
	padding: 10px;
	width: 90%;
	min-width: 300px;
	height: 60%;
	margin: 30px auto 0;
	color: #333;
}
.rooms_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	height: 50px;
}
.rooms_head > button {
	background: transparent;
	border: 1px solid #333;
	border-radius: 20px;
	margin: 0;
}

.rooms.active {display: block;}

.rooms_overflowwrap {
	height: calc(100% - 60px);
	overflow-y: auto;
}
.rooms_body {
	width: 100%;
}

.room_card {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #333;
	margin-bottom: 10px;
}
.room_card_elm {
	padding: 0 10px;
}
.room_card_owner {
	color: tomato;
}
.room_card_status.waiting {
	color: rgb(19, 183, 233);
}
.room_card_btns {
	margin-left: auto;
}
.room_card_btn {
	margin: 0 10px;
	display: inline-block;
}
.room_card_btn:disabled, .room_card_btn:disabled:hover {
	opacity: 0.6;
}


/* waiting */
.waiting_screen {
	width: 90%;
	text-align: center;
	padding: 30px 0;
	display: none;
	margin: 0 auto;
}
.waiting_screen p {
	background: white;
	padding: 10px;
	font-size: 18px;
}
.waiting_screen.active {
	display: block;
}

/* game screen */
.g_wrap {
	display: none;
	opacity: 0;
	align-items: center;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(255,255,255, 0.5);
	transition: all 0.8s;
}
.g_wrap.active {
	display: flex;
	opacity: 1;
}

.g_field {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.g_field.type_C {
	width: 60%;
}

.b_wrap {
	height: 100%;
	overflow: hidden;
}

.b_head {
	width: 100%;
	height: 50px;
	background: #4A752C;
	color: white;
	line-height: 50px;
	font-size: 1.6rem;
	text-align: center;
	display: flex;
}
.b_head div, .b_head p {display: inline-block;}
.b_head_item {
	height: 50px;
	overflow: hidden;
}

.b_head button {
	cursor: pointer;
	background-color: transparent;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.b_head_flags_outer {
	flex-grow: 2;
}

.b_head_time_outer {
	flex-grow: 3;
}

.b_head_sound_btns {
	flex-grow: 1;
}

.sound_btn {
	display: none;
}
.sound_btn.active {
	display: inline-block;
}
.sound_btn:hover {
	opacity: 0.6;
}
#allow_sound {
	background-image: url('../img/sound_off.png');
}
#forbit_sound {
	background-image: url('../img/sound_on.png');
}

.b_head_back_outer {
	flex-grow: 1;
}
.b_head_menu_btn {
	background-image: url('../img/bars.png');
}
.b_head_menu_btn:hover {
	opacity: 0.6;
}
.type_C .b_head_menu_btn_outer {
	display: none;
}

.board {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background: grey;
	transition: all 0.4s;
}
.board.failed {
	animation: bomb .3s 5 ease-out;
}
@keyframes bomb {
	0% {transform: translate(0px, 0px)}
    10% {transform: translate(-30px, -30px)}
	20% {transform: translate(30px, 10px)}
	30% {transform: translate(10px, -10px)}
	40% {transform: translate(-10px, 10px)}
	42% {transform: translate(-10px, -10px);}
	44% {transform: translate(10px, -10px);}
	46% {transform: translate(0px, 10px);}
	50% {transform: translate(10px, -10px)}
	60% {transform: translate(-20px, 20px)}
	70% {transform: translate(20px, 10px)}
	80% {transform: translate(-20px, -20px)}
	90% {transform: translate(30px, -30px)}
    100% {transform: translate(0px, 0px)}
}

.board.failed .bomb {
	background: red;
}

.menu {
	width: 100%;
	height: 100%;
	background: white;
	overflow-x: hidden;
	overflow-y: auto;
}
.menu.type_C {
	width: 40%;
	display: inline-block;
}
.menu.type_A, .menu.type_B {
	position: absolute;
	top: -100%; left: 0;
	opacity: 0;
	z-index: 20;
	background: rgba(255,255,255,0.8);
	transition: all 0.6s;
}
.menu.type_A.active, .menu.type_B.active {
	top: 0;
	opacity: 1;
}
.close_menu_btn {
	cursor: pointer;
	position: absolute;
	background: transparent;
	top: 10px; right: 10px;
	width: 50px;
	height: 50px;
	font-size: 0;
}
.close_menu_btn::before, .close_menu_btn::after {
	content: '';
	width: 50px;
	height: 3px;
	background: black;
	position: absolute;
	top: 50%; left: 50%;
}
.close_menu_btn::before {
	transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.close_menu_btn::after {
	transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}
.menu.type_C .close_menu_btn {
	display: none;
}

.quit_btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 24px;
	width: 80%;
	font-size: 2rem;
	padding: 1rem;
	max-width: 300px;
	border: 2px solid #000;
	background-image: repeating-linear-gradient(
	  -45deg,
	  #000,
	  #000 1px,
	  transparent 2px,
	  transparent 5px
	);
	background-size: 7px 7px;
	backface-visibility: hidden;
}
.quit_btn > span {
	position: relative;
	display: block;
	padding: 6px 12px;
	color: #000;
	border: 2px solid #000;
	border-radius: 0.5rem;
	background: #fff;
}
.quit_btn:hover {opacity: 0.6;}


.square { 
	text-align: center;
	line-height: 40px;
	color: white;
	background: #9ed439;
	user-select: none;
	border: 1px solid rgba(230,230,230,0.2);
	position: relative;
}

.square:nth-child(odd) {
	background: #b7e261;
}

.square.digged {
	font-weight: bold;
	background: #D7B899;
	opacity: 1;
}
.square.digged::after {
	content: attr(data-num);
}
.square.flag::after {
	content: '';
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/flag.png');
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center center;
}
.square.selected {
	border: 2px solid white;
}
.square.digged.zero {
	background: #D7B899;
	color: transparent;
}

/* number colers */
.square[data-num='1'] {color: #2196f3;}
.square[data-num='2'] {color: #2e7d32;}
.square[data-num='3'] {color: #ff5722;}
.square[data-num='4'] {color: #ef6c00;}
.square[data-num='5'] {color: #e91e63;}
.square[data-num='6'] {color: #311b92;}
.square[data-num='7'] {color: #9c27b0;}
.square[data-num='8'] {color: #212121;}


.sel_mask {
	display: none;
	position: absolute;
	z-index: 8;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
}
.sel {
	display: none;
}
.sel > button {
	position: absolute;
	z-index: 10;
	background: rgba(74,118,44, 0.7);
	margin: 0;
	padding: 0;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.sel > button:hover {
	opacity: 0.8;
}

#sel_dig {
	background-image: url('../img/scop.png');
	transform: translateY(-15%);
}
#sel_flag {
	background-image: url('../img/flag.png');
	transform: translateX(-15%);
}
#sel_unflag {
	background-image: url('../img/flag.png');
	transform: translateX(-15%);
}
#sel_cancel {
	background-image: url('../img/del.png');
}

.modal_wrap {
	position: absolute;
	z-index: 30;
	width: 100%;
	height: 100%;
	top: -100%; left: 0;
	background: rgba(255,255,255, 0.8);
	opacity: 0;
	transition: all 1s;
}
.modal_wrap.active {
	opacity: 1;
	top: 0;
}

.modal {
	width: 90%;
	max-width: 400px;
	margin: 100px auto 0;
	min-height: 50%;
	max-height: 500px;
	padding-top: 30px;
	padding-bottom: 50px;
	background: rgb(255,255,255);
	border-radius: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: #555 0px 8px 8px;
}
.modal .result {
	margin-bottom: 20px;
}
.modal .controls {
	display: flex;
	flex-direction: column;
}
.modal .controls > button {
	margin: 10px auto;
	width: 90%;
	max-width: 300px;
	padding: 16px;
}

.clear_modal {
	background: linear-gradient(45deg, white, rgb(102, 204, 255));
}
.result {
	position: relative;
}
.victory_img {
	width: 100%;
}
.clear_modal .result_time {
	color: white;
	font-size: 3rem;
	font-weight: bold;
	position: absolute;
	bottom: 20px; left: 50%;
	transform: translateX(-50%);
  	background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.clear_modal .controls button {
	font-size: 1.6rem;
	position: relative;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-image: linear-gradient(90deg, #338b7d 40%, #474199 100%);
	overflow: hidden;
	box-shadow: rgb(255, 255, 255) 0 4px 8px;
	transition: all 0.5s;
}
.clear_modal .controls button::after {
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	content: "";
	transition: all 0.5s;
	background-image: linear-gradient(90deg, #63f092, #6fe2ff, #6470e2);
}
.clear_modal .controls button > span {
	position: relative;
	z-index: 40;
}
.clear_modal .controls button:hover {
	box-shadow: none;
}
.clear_modal .controls button:hover:after {
	opacity: 0;
}

.fail_modal {
	background: black;
	color: white;
}
.fail_modal .result_time {
	font-size: 2rem;
	text-align: center;
}

.fail_modal .controls button {
	color: black;
	background: white;
}

.user_number, .bottom_username {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
}
.bottom_username {
	left: unset;
	right: 10px;
}
@media screen and (max-width:480px) {
	.title {
		font-size: 3rem;
		margin-bottom: 0;
	}
	.main_options {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.rooms {
		margin-top: 10px;
	}
	.modal {
		margin-top: 30px;
	}

	.quit_btn {
		margin-top: 100px;
	}
}
